<div class="short-statement">
    <p class="iam">
        I’m a computational designer and maker of things.
    </p>
    <p class="iam">
        I specialize in solving real-world problems through a unique blend of computational design thinking, algorithm development, computer programming, and design for digital fabrication.
    </p>
</div>


<h2>Highlighted Projects</h2>

<div class="project-container">

    <div class="project-card" data-project-title="Adaptive Artifacts" data-project-link="/adaptive-artifacts">
        <p hidden  class="project-title">Adaptive Artifacts</p>
        <div class="project-image">
            <img src="static/assets/adaptive_artifacts/IMG_4909_cropped.jpg" alt=""> 
        </div>
        
    </div>

    <div class="project-card" data-project-title="Evolving Configurations" data-project-link="/evolving-configurations">
        <p hidden  class="project-title">Evolving Configurations</p>
        <div class="project-image">
            <img src="static/assets/evolving_configurations/vectorialFieldRozkladowka_cropped.jpg" alt=""> 
        </div>
    </div>

    <div class="project-card" data-project-title="Media House" data-project-link="/media-house">
        <p hidden  class="project-title">Media House</p>
        <div class="project-image">
            <img src="static/assets/media_house/pierwszaStronaDuze02powt250_cropped.jpg" alt=""> 
        </div>
    </div>

    

</div> 