:root {
    --main-color: black;
    --link-color: magenta;

    --font-size: 16px;
    --font-size-content-heading: 75px;

    --centered-container-width: 70%;

    --movable-padding-left: 0px;
    --movable-padding-right: 0;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensure padding and borders are included in the element's total width and height */
}

body {
    position: relative;

    font-family: 'DM Mono', 'Inter', sans-serif;
    /* Fallback in case 'Inter' isn't available */
    font-weight: 100;
    background-color: #ffffff;
    /* overflow: hidden; */
    overflow-x: hidden;

    min-height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

span.span-highlight {
    font-weight: 500;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: var(--link-color);
}

/*NAVBAR AND OTHER GENERAL NAVIGATIONAL ELEMENTS*/
.nav-bar {
    position: fixed;

    width: var(--centered-container-width);

    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 12;

    transition: transform 0.5s ease;

}

.nav-bar a {
    text-decoration: none;
    font-family: 'DM Sans', 'DM Mono', sans-serif;

    
}


.nav-bar a:visited {
    color: black;
}

.nav-bar a:hover {
    color: var(--link-color);
}

.left-side{
    font-size: 45px;
    font-weight: 300;
    padding-left: var(--movable-padding-left);
}

.right-side{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: var(--movable-padding-right);
}

.nav-arrow {
    position: fixed;
    top: 100%;
    left: calc(100% - 65px);
    transition: transform 0.5s ease;
    z-index: 99;
    font-weight: 100;
    font-size: 55px;

}

#back-to-top:hover {
    color: var(--link-color);

}

#back-to-top:visited {
    color: black;
}



/*HERO CONTAINER*/


div.hero-container {
    position: relative;
    top: 0%;

    height: 100vh;
    min-height: 750px;
    width: 100vw;
    background-color: rgba(0, 255, 255, 0.164);
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    justify-content: center;
}


div.hero-heading-container {
    position: relative;
    top: 0%;

    width: var(--centered-container-width);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;

}

div.hero-heading-container p {
    display: block;
    padding-right: 70px;
    font-family: "DM Sans";
    font-size: 100px;
}

div.hero-image-background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}

img.hero-img-background {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 50%;

}

div.canvas-container {
    position: absolute;
    top: 0%;
    height: 100%;
    z-index: -1;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: -1;
}


/*CONTENT CONTAINER*/

.content-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    overflow-x: hidden;

    z-index: 0;
    
}

/*HOME PROJECT CONTENT - LIST OF HIGHLIGHTED PROJECTS*/

.short-statement {
    
    padding: 0 0 75px 0;
    width: var(--centered-container-width);
    

}

.iam {
    font-family: "DM Sans";
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 15px;
}

.iam-header {
    width: var(--centered-container-width);
    padding: 90px 0 60px 0;
    padding-left: var(--movable-padding-left);
    padding-right: var(--movable-padding-right);
    


    text-align: start;

    color: black;

    font-family: 'DM Sans', 'Inter', sans-serif;
    font-weight: 100;
    font-size: var(--font-size-content-heading);
    /* text-shadow: 2px 2px rgb(0, 119, 255), -2px -0dvh rgb(0, 255, 242); */
}

.iam-columns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: var(--movable-padding-left);
    padding-right: var(--movable-padding-right);
}

.iam-column-left{
    width: 49%;
    padding-right: 20px;
    
}

.iam-column-right{
    width: 49%;
    padding-left: 20px;
}

.iam-column-right ul{
    padding-top: 0;
    margin-bottom: 15px;
}

.iam-column-right li{
    list-style:disc;
    list-style-position: inside;
    /* padding: 0 0 0 0; */
    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 500;
}







.project-container {
    padding: 75px 0 0 0;

    width: 100%;
    
    min-height: 100vh;
    color: cyan;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
}




.project-card {
    padding: 10px 0 15px 0;
    margin-bottom: 120px;
    position: relative;

    width: var(--centered-container-width);

    min-height: 20%;
    display: flex;
    flex-direction: column;
    align-items: start;

    font-weight: 500;
    color: black;
}

.project-card-header{
    padding-left: var(--movable-padding-left);
    padding-right: var(--movable-padding-right);
}


.project-card:hover {
    color: var(--link-color);
    cursor: pointer;
}

.project-image {
    display: none;
    position: absolute;

    width: 300px;
    height: 300px;

    transform: translate(-150px, -150px);

    border-radius: 50%;

    overflow: hidden;

    z-index: -1;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.project-title {
    font-size: 75px;
    font-weight: 100;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    padding-left: var(--movable-padding-left);
    padding-right: var(--movable-padding-right);

}

.project-card:hover .project-image{
    display: block;
}





/* PROJECTS CONTENT RENDER STYLES */
.project-content-container {

    width: var(--centered-container-width);

    padding-left: var(--movable-padding-left);
    padding-right: var(--movable-padding-right);

    box-sizing: border-box;
   
}



.project-content-header {
    padding-top: 25px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    font-family: 'DM Sans', 'DM Mono', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: black;
}

.project-content-header p {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 200;
}

.project-content-header a {
    text-decoration: none;
}

.project-content-header a:visited {
    color: black;
}

.project-content-header a:hover {
    color: var(--link-color);
}

.project-content-heading{
    padding: 90px 0 60px 0;

    font-family: 'DM Sans', 'Inter', sans-serif;
    font-weight: 100;
    font-size: var(--font-size-content-heading);

}

.project-content p {
    font-family: 'DM Sans', 'DM Mono', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 15px;
}

.project-content h3 {
    padding: 45px 0 0 0;

    font-family: 'DM Sans', 'Inter', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

.project-content ul,
ol {
    font-family: 'DM Sans', 'DM Mono', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px 50px 0;
    list-style: none;
    list-style-position: inside;
}

ol {
    padding-top: 0px;
    list-style: decimal;
    font-size: 20px;
}

div.project-content-img {
    padding-top: 150px;
}

.project-content-img img {
    width: 100%;
    height: auto;
}

.image-group-four {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.image-group-four img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.image-text-group-four {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.image-text-group-four>div {
    width: 100%;
    height: auto;
}

.image-text-group-four div>img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.image-group-two-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

.image-group-two-row img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

h3.paragraph-title {
    font-weight: 500;
    padding-left: 0;
    padding-bottom: 10px;
}

p.project-content-caption {

    font-family: 'DM Sans', 'DM Mono', 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;

    text-transform: uppercase;
}

p.project-content-caption span {
    text-transform: none;
}


.footer {
    width: 100%;
    height: 450px;
}

@media (max-width:1199px){
    :root {
        --centered-container-width: 90%;
        
    }

    div.hero-container {
        min-height: 700px;
    }

    div.hero-heading-container p {
        font-family: "DM Sans";
        font-size: 90px;
    }

    .project-image {
        display: block;
        position: relative;
    
        width: 100%;
        height: 300px;
        transform: translate(0px, 0px);
 
        border-radius: 0%;
    
        overflow: hidden;
    
        z-index: -1;
    }
    
    .project-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    div.project-content-img{
        padding-top: 0;
        padding-bottom: 100px;
    }




    div.footer{
        height: 150px;
    }
}

@media (max-width:767px){
    :root {
        --centered-container-width: 100%;
        --movable-padding-left: 15px;
        --movable-padding-right: 30px;
        --font-size-content-heading: 55px;
    }
    .left-side{
        width: 40%;
        font-size: 35px;
        font-weight: 300;
    }

    div.hero-container {
        min-height: 800px;
    }
    
    div.hero-heading-container p {
        font-family: "DM Sans";
        font-size: 70px;
        padding-left: 15px;
    }

    .iam{
        font-size: 18px;
    }

    .iam-column-right li{
        font-size: 18px;
    }

    .iam-column-left{
        width: 100%;
        padding-right: 0;
    }

    .iam-column-right{
        width: 100%;
        padding-left: 0;
    }

    .project-container{
        padding-top: 0;
    }

    .project-card{
        margin-bottom: 75px;
    }
    .project-title {
        font-size: 45px;
        font-weight: 100;
    }

    .project-image {
        height: 250px;
    }

    /*PROJECT CONTENT*/

    .project-content-header {
        font-size: 25px;
    }

    div.project-content-img{
        padding-top: 0;
        padding-bottom: 75px;
    }



    div.footer{
        height: 150px;
    }

}

@media (max-width:576px){
    :root {
        --centered-container-width: 100%;
        --movable-padding-left: 15px;
        --movable-padding-right: 30px;
        --font-size-content-heading: 55px;
    }
    .left-side{
        width: 40%;
        font-size: 35px;
        font-weight: 300;
    }

    div.hero-container {
        min-height: 600px;
    }
    
    div.hero-heading-container p {
        font-family: "DM Sans";
        font-size: 55px;
        padding-left: 15px;
    }

    .iam{
        font-size: 18px;
    }

    .iam-column-right li{
        font-size: 18px;
    }

    .iam-column-left{
        width: 100%;
        padding-right: 0;
    }

    .iam-column-right{
        width: 100%;
        padding-left: 0;
    }

    .project-card{
        margin-bottom: 75px;
    }
    .project-title {
        font-size: 45px;
        font-weight: 100;
    }

    .project-image {
        height: 250px;
    }

    /*PROJECT CONTENT*/

    .project-content-header {
        font-size: 16px;
    }

    .project-content p{
        font-size: 15px;
    }

    .project-content h3 {
        font-size: 20px;
    }

    .project-content ul{
        font-size: 15px;
    }

    div.project-content-img{
        padding-top: 0;
        padding-bottom: 55px;
    }

    p.project-content-caption{
        font-size: 14px;
    }

    /*FOOTER*/

    div.footer{
        height: 150px;
    }

}

@media (max-width:390px){
    :root {
        --centered-container-width: 100%;
        --movable-padding-left: 15px;
        --movable-padding-right: 30px;
        --font-size-content-heading: 40px;
    }
    .left-side{
        width: 40%;
        font-size: 30px;
        font-weight: 300;

    }

    div.hero-heading-container p {
        font-family: "DM Sans";
        font-size: 45px;
        padding-left: 15px;
    }

    .iam{
        font-size: 15px;
    }

    .iam-column-right li{
        font-size: 15px;
    }

    .iam-column-left{
        width: 100%;
        padding-right: 0;
    }

    .iam-column-right{
        width: 100%;
        padding-left: 0;
    }

    .project-container{
        padding-top: 0;
    }

    .project-card{
        margin-bottom: 65px;
    }
    .project-title {
        font-size: 35px;
        font-weight: 100;
    }

    .project-image {
        height: 250px;
    }

    /*PROJECT CONTENT*/

    .project-content-header {
        font-size: 15px;
    }

    .project-content p{
        font-size: 15px;
    }

    .project-content h3 {
        font-size: 20px;
    }

    .project-content ul{
        font-size: 15px;
    }

    div.project-content-img{
        padding-top: 0;
        padding-bottom: 45px;
    }

    p.project-content-caption{
        font-size: 14px;
    }

    /*FOOTER*/


    div.footer{
        height: 115px;
    }

}